version: "3.9"
services:
  # CLUSTER DE SERVIDORES WEB
  web1:
    image: nginx:1.25
    container_name: web1
    restart: always
    ports:
      - "8081:80"
    volumes:
      -./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      -./app:/var/www/html:ro
  
  web2:
    image: nginx:1.25
    container_name: web2
    restart: always
    ports:
      - "8082:80"
    volumes:
      -./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      -./app:/var/www/html:ro

  web3:
    image: nginx:1.25
    container_name: web3
    restart: always
    ports:
      - "8083:80"
    volumes:
      -./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      -./app:/var/www/html:ro

  # CACHE REDIS
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    command: redis-server --requirepass redis_pass_2024 --maxmemory 256mb --maxmemory-policy allkeys-lru
    ports:
      - "6379:6379"
